# Django==5.1.7
# python-dotenv==1.2.1
# python-jose==3.5.0
# requests==2.32.5
# Pillow
# django-tinymce4
# mysqlclient
# django-allauth
# djangorestframework

Django==5.1.7
django-allauth
djangorestframework
django-tinymce4

mysqlclient
Pillow
requests==2.32.5
python-dotenv
cryptography
PyJWT>=2.8.0
